<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--The shutdown time (USING 24-HOUR TIME FORMAT)-->
    <!--Format: HH:MM:SS-->
    <add key="Shutdown" value="11:22:00" />
    
    <!--The restart time (USING 24-HOUR TIME FORMAT)-->
    <!--RESTART TIME MUST BE GREATER THAN SHUTDOWN TIME-->
    <!--Format: HH:MM:SS-->
    <add key="Restart" value="11:22:30" />
  </appSettings>
</configuration>