<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--The name of the screen's audio device-->
    <add key="MonitorAudioDeviceName" value="NVIDIA High Definition Audio" />
    <!--The IP Address of the master computer, THESE MUST BE CHANGED TO THE SWALL PC IP WHEN THIS CODE IS PUSHED TO THE WALL-->
    <add key="MasterIP" value="134.117.60.176" />
    <!--The IP Address of the slave 1, CURRENTLY USING THE IP OF THE LAB COMPUTER SO IT CAN BE TESTED-->
    <add key="Slave1IP" value="134.117.60.177" />
    <!--The IP Address of the slave 2-->
    <add key="Slave2IP" value="134.117.60.178" />
    <!--The IP Address of the slave 3-->
    <add key="Slave3IP" value="134.117.60.180" />
    <!--The IP Address of the slave 4-->
    <add key="Slave4IP" value="134.117.60.180" />
    <!--The total amount of slaves (or monitors) in the system-->
    <add key="MonitorCount" value="2" />
    <!--The position of thsi slave in the system (from 1 to monitorCount, from left to right)-->
    <add key="MonitorPosition" value="2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>