<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--The IP Address of the slave 1-->
    <add key="Slave1IP" value="134.117.60.176" />
    <!--The IP Address of the slave 2-->
    <add key="Slave2IP" value="134.117.60.177" />
    <!--The IP Address of the slave 3-->
    <add key="Slave3IP" value="134.117.60.178" />
    <!--The IP Address of the slave 4-->
    <add key="Slave4IP" value="134.117.60.180" />
    <!--The total amount of slaves (or monitors) in the system-->
    <add key="MonitorCount" value="4" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>